@tailwind base;
@tailwind components;
@tailwind utilities;

.resetBtn{
    background-color: gray;
}

.react-datepicker-wrapper{
    width: 100%;
    display: block;
}
.autoselect [type='text']:focus {
    --tw-ring-shadow : none !important;
    border: 0px
}
