@tailwind base;
@tailwind components;
@tailwind utilities;

.resetBtn{
    background-color: gray;
}

.react-datepicker-wrapper{
    width: 100%;
    display: block;
}
.autoselect [type='text']:focus {
    --tw-ring-shadow : none !important;
    border: 0px
}

.stats:hover{
    background-color: rgba(232, 230, 230, 0.424);
}
.cursor-pointer:hover{
    color:indigo;
}
/* NavBar */
